@{
    ViewData["Title"] = "Home Page";
}
<!-- Jumbotron -->
<div class="bg-cover bg-center relative"
    style="background-image: url('images/home.png'); height: 450px; margin-top: -15px;">
    <div class="absolute inset-0 flex justify-center items-center">
        <div class="absolute top-0 left-0 text-white p-3">
            <h1 class="mb-5 mt-5 text-4xl font-bold">Student Management System</h1>
            <h6 class="mb-3 text-lg">
                Welcome to the Student Management System. Here you can<br>manage all student records.
            </h6>
            <div class="mt-5 flex">
                <a href="#cardsSection"
                    class="border border-white text-white py-2 px-4 rounded hover:bg-blue-600 hover:text-white hover:border-blue-600 transition duration-300 flex items-center">
                    Take a Tour
                    <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
            </div>
        </div>

    </div>
</div>
</div>

<div class="max-w-7xl mx-auto mt-5 px-4 sm:px-6 lg:px-8 ml-5">
    <div id="cardsSection" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-end lg:pl-4 ml-5">
        <div class="flex flex-col h-full rounded-lg shadow-lg overflow-hidden ml-5">
            <img src="~/images/card1.jpg" class="h-60 w-full object-cover" alt="Skyscrapers" />
            <div class="flex flex-col flex-grow p-4">
                <h5 class="text-xl font-semibold mb-2">Add Students</h5>
                <p class="flex-grow text-gray-700">
                    Our intuitive interface allows for quick and seamless entry of student information,
                    ensuring that all necessary details are captured accurately.
                </p>
                <div class="mt-4 flex justify-center">
                    <a asp-area="" asp-controller="Students" asp-action="Add"
                        class="border border-gray-600 text-gray-600 py-2 px-4 rounded hover:bg-gray-600 hover:text-white transition duration-300">Add</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col h-full rounded-lg shadow-lg overflow-hidden">
            <img src="~/images/card2.jpg" class="h-60 w-full object-cover" alt="Los Angeles Skyscrapers" />
            <div class="flex flex-col flex-grow p-4">
                <h5 class="text-xl font-semibold mb-2">View Students</h5>
                <p class="flex-grow text-gray-700">
                    Our comprehensive student database provides detailed information on each student,
                    personal information and subscription status.
                </p>
                <div class="mt-4 flex justify-center">
                    <a asp-area="" asp-controller="Students" asp-action="List"
                        class="border border-gray-600 text-gray-600 py-2 px-4 rounded hover:bg-gray-600 hover:text-white transition duration-300">View</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col h-full rounded-lg shadow-lg overflow-hidden">
            <img src="~/images/card3.png" class="h-60 w-full object-cover" alt="Palm Springs Road" />
            <div class="flex flex-col flex-grow p-4">
                <h5 class="text-xl font-semibold mb-2">Who We Are</h5>
                <p class="flex-grow text-gray-700">
                    Learn more about our organization and what we do where we are dedicated to providing
                    top-notch educational services and support.
                </p>
                <div class="mt-4 flex justify-center">
                    <a asp-area="" asp-controller="Home" asp-action="AboutUs"
                        class="border border-gray-600 text-gray-600 py-2 px-4 rounded hover:bg-gray-600 hover:text-white transition duration-300">Learn
                        more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('a[href="#cardsSection"]').addEventListener('click', function (e) {
        e.preventDefault();
        document.querySelector('#cardsSection').scrollIntoView({ behavior: 'smooth' });
    });
</script>
