@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentPortal.Web.Models.AddStudentViewModel

<div class="container mx-auto my-4 px-4 lg:px-20 flex justify-center">
    <div class="w-full lg:w-9/12 flex flex-wrap lg:flex-nowrap rounded-2xl shadow-2xl">
        <!-- Image section -->
        <div class="w-full lg:w-1/2 hidden lg:block">
            <img src="~/images/studentadd.png" alt="Student Image" class="w-full h-full object-cover rounded-l-2xl">
        </div>
        <!-- Form section -->
        <div class="w-full lg:w-1/2 p-8 my-4 md:px-12 lg:rounded-r-2xl">
            <div class="flex mb-4">
                <h1 class="font-bold uppercase text-3xl">Add Student</h1>
            </div>
            <form method="post">
                <div class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-5">
                    <div class="w-full">
                        <label class="form-label block text-gray-700">Name</label>
                        <input type="text" class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" asp-for="Name" />
                    </div>
                    <div class="w-full">
                        <label class="form-label block text-gray-700">Email</label>
                        <input type="text" class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" asp-for="Email" />
                    </div>
                    <div class="w-full">
                        <label class="form-label block text-gray-700">Phone number</label>
                        <input type="text" class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" asp-for="Phone" />
                    </div>
                    <div class="w-full">
                        <label class="form-label block text-gray-700">Date Of Birth</label>
                        <input type="date" class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" asp-for="DOB" />
                    </div>
                </div>
                <div class="mt-5">
                    <input type="checkbox" class="form-check-input mr-2" id="Subscribed" asp-for="Subscribed" />
                    <label class="form-check-label text-gray-700" for="Subscribed">Subscribed</label>
                </div>
                <div class="my-4 flex justify-center">
                    <button type="submit" class="uppercase text-sm font-bold tracking-wide bg-blue-600 text-gray-100 p-3 rounded-lg focus:outline-none focus:shadow-outline">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


